
.notice_category_item {
  display: inline-block;
  *display: inline;
	*zoom: 1;
}

.FormTableRowTemplatePage .tool_bar .le .topic {
  color: #c33;
  font-size: 9.5pt;
  line-height: 1.8;
}

/*-----------------------PrivateMessageSentPage------------------------*/
.FormTableRowTemplatePage #sm_receiver,
.FormTableRowTemplatePage #sm_topic,
.FormTableRowTemplatePage #sm_content {
  font-size: 9.5pt;
}

.FormTableRowTemplatePage #sm_content {
  line-height: 1.8;
  color: #555;
  padding: 0 5px;
}

.FormTableRowTemplatePage .sm_content_bar {
  border-top: 1px solid #ccc;
  background: #fdfdfd;
  margin: 0 -4px -4px;
  padding: 6px 6px 4px;
}

.FormTableRowTemplatePage .sm_atten {
  line-height: 2.4; 
  font-size: 9.5pt; 
  color: #777;
}

/*-----------------------PrivateMessageSentViewPage------------------------*/

.FormTableRowTemplatePage .sv_receiver {
  max-height: 70px;
  overflow-y: auto;
}

.FormTableRowTemplatePage .sv_content,
.FormTableRowTemplatePage .mv_content {
  line-height: 1.8;
  padding: 0 5px;
  height: 320px;
  font-size: 9.5pt;
  overflow-y: auto;
}

.FormTableRowTemplatePage .tool_bar .le>div {
  overflow: hidden;
  width: 350px;
}
