
/*-----------------------PrivateMessageSentPage------------------------*/
#sm_receiver,
#sm_topic,
#sm_content {
  font-size: 9.5pt;
}

#sm_content {
  line-height: 1.8;
  color: #555;
}

.sm_content_bar {
  border-top: 1px solid #ccc;
  background: #fdfdfd;
  margin: 0 -4px -4px;
  padding: 6px 6px 4px;
}

.sm_atten {
  line-height: 2.4; 
  font-size: 9.5pt; 
  color: #c44;
}

/*-----------------------PrivateMessageSentViewPage------------------------*/

#b_sm_receiver, 
#b_sm_topic, 
#b_sm_content {
  padding: 3px;
  font-size: 9.5pt;
}

#b_sm_content {
  line-height: 1.8;
  height: 180px;
  overflow-y: auto;
}