
.FormTableRowTemplatePage .tool_bar .le {
  color: #c33;
  font-size: 9.5pt;
  line-height: 1.8;
}

/*-----------------------PrivateMessageSentPage------------------------*/
#sm_receiver,
#sm_topic,
#sm_content {
  font-size: 9.5pt;
}

#sm_content {
  line-height: 1.8;
  color: #555;
}

.sm_content_bar {
  border-top: 1px solid #ccc;
  background: #fdfdfd;
  margin: 0 -4px -4px;
  padding: 6px 6px 4px;
}

.sm_atten {
  line-height: 2.4; 
  font-size: 9.5pt; 
  color: #c44;
}

/*-----------------------PrivateMessageSentViewPage------------------------*/

#sm_content_view {
  line-height: 1.8;
  height: 280px;
  overflow-y: auto;
  font-size: 9.5pt;
}

.FormTableRowTemplatePage .tool_bar .le>div {
  overflow: hidden;
  width: 350px;
}
